<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="usuario"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="ion-text-center">comentarios</ion-label>
  <div *ngIf = "listado.length > 0">
    <ion-list>
      <div *ngFor="let i of listado "[routerLink]="['../comentario/',i.id]">
        <ion-item>
          <ion-label>
            <h2>{{i.id}}</h2>
            <h2>{{i.title}}</h2>
            <h2>{{i.body}}</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>



</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="listar()">
      <ion-icon slot="icon-only" name="list-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
