<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="3">
        <ion-button href= "home" fill="clear"> 
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>           
      </ion-col>
      <ion-col size ="6">
        <img src="assets/duoc.png">

      </ion-col>
      <ion-col size="3">
        <div id="botton">
          <ion-button  href="registrarse" slot="end" expand="block"  color="Primary"fill="clear" shape="round">
            Sign up
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
    <ion-card id="card">
      <ion-card-header class="ion-text-center">

        <ion-card-title>iniciar sesion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">usuario</ion-label>        
          <ion-input type="text"  #nombre></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">contraseña</ion-label>        
        <ion-input type="Password"  #password></ion-input>
      </ion-item>
      <div id="boton">
          <ion-button (click)="verificar(nombre,password)" expand="block"shape="round">
            iniciar sesion
          </ion-button>
      </div>

      </ion-card-content>
    </ion-card>

<ion-content>

</ion-content>
