<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/duoc.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content class="ion-text-center">
      <div class="ion-content-center">
        menu
        <ion-button href="registrarse"expand="block"  shape="round">
          registrarse
        </ion-button>
        <ion-button href="login" expand="block" shape="round">
          iniciar sesion
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>
